/* FONTS */
* {
    font-family: "poppins", sans-serif;
    font-weight: regular;
    font-style: normal;
}

cite {
    font-style: italic;
}

/* LINK EFFECTS */
a {
    text-decoration: none;
}

header .nav-item:hover,
.navbar-brand:hover {
    text-decoration: underline #f8f9fa !important;
}

.active {
    background-color: #f8f9fa !important;
    border-radius: .375rem;
    color: black !important;
}

footer .nav-item:hover {
    text-decoration: underline #6c757d;
}

footer .custom-socials:hover {
    color: #f8f9fa !important;
}

#custom-cards a {
    color: #6c757d !important;
}

#custom-cards a:hover {
    text-decoration: underline #6c757d !important;
}

/* JUMBOTRON */
.custom-jumbotron-image {
    background-position: center;
    background-size: cover;
}

.custom-jumbotron-size {
    height: 50vh;
}

/* COUNTDOWN */
#countdown {
    color: #f8f9fa;
    font-size: .9rem;
}

.days,
.hours,
.minutes,
.seconds {
    display: inline-block;
    padding: 20px;
    width: 100px;
    margin: 4px 2px;
    border-radius: .375rem;
    background: #f8f9fa;
    color: black;
}

.numbers {
    color: black;
    font-size: 3rem;
}

/* MOBILE MEDIA QUERIES */
@media (max-width: 420px) {
    #custom-cards {
        padding: 1.5rem !important;
    }
}