/* STYLING */

* {
  margin: auto;
  text-align: center;
  font-family: adelle, serif;
  font-style: normal;
  max-width: 100%;
}

.row {
  max-width: 90%;
}

.container {
  box-sizing: border-box;
  display: inline-block;
  flex-direction: row;
}

.section {
  background: #d3d3d3;
  border: 1px solid black;
  margin: 2%;
}

h1 {
  margin: 2%;
}

p {
  display: inline-block;
  text-align: left;
  padding: 20px;
}

h2 {
  position: relative;
  right: -1px;
  top: -1px;
  box-sizing: border-box;
  float: right;
  text-align: right;
  border: 1px solid black;
  padding: 5px 30px;
  max-width: 90%;
}

.chicken {
  background: #f8c8dc;
}

.beef {
  background: #ff6961;
}

.sushi {
  background: #fdfd96;
}

/* MEDIA QUERIES */

/* For desktop: */
@media only screen and (min-width: 992px) {
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    max-width: 100%;
  }
}

/* For tablets: */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    float: left;
    margin-top: -0.5%;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/* For mobile phones: */
@media only screen and (max-width: 767px) {
  [class*="col-sm"] {
    max-width: 90%;
  }
}
